<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Create Article</div>
                    <div class='card-body'>
<h1>
    Test
</h1>
 
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                article:{},
                errors: [],
                title: null,
                content: null,
            }
        },

    }
</script>